body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* Ajouté pour empêcher le défilement sur le body */
}

header, main, footer {
    text-align: center;
    padding: 20px;
}

header {
    background-color: #222;
    color: #fff;
}

h1 {
    margin: 0.5em 0;
}

p {
    font-size: 1.2em;
}

.button, #navigation-controls button {
    background-color: #0066cc;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.button:hover, #navigation-controls button:hover {
    background-color: #0055bb;
}

footer {
    font-size: 0.8em;
    color: #666;
    background-color: #222;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Ajouter un z-index si le footer doit passer au-dessus des autres éléments */
    z-index: 10;
}

#pdf-viewer {
    position: fixed; /* reste fixé */
    top: 60px; /* ajustez cette valeur à la hauteur de votre header */
    bottom: 60px; /* ajustez cette valeur si vous avez un footer */
    left: 0;
    right: 0;
    overflow: auto; /* permet le défilement si le contenu est trop grand */
    padding-top: 1em; /* espace supplémentaire en haut si nécessaire */
    padding-bottom: 1em; /* espace supplémentaire en bas pour les boutons de navigation */
    /* ... autres styles de pdf-viewer ... */
}

#pdf-viewer canvas {
    width: auto; /* S'ajuste à la hauteur de #pdf-viewer */
    height: 100%; /* Occupe toute la hauteur disponible */
    max-width: none; /* Assure que le canvas peut s'étendre en largeur autant que nécessaire */
    display: block;
    margin: auto; /* Centre le canvas horizontalement */
}


#navigation-controls button {
    background-color: #222; /* La même couleur que le header */
    color: #fff; /* Texte en blanc pour correspondre à la couleur du texte du header */
    /* ... autres styles de bouton ... */
}

#navigation-controls button {
    margin: 0 10px;
}

#page-info {
    font-size: 1em;
}
